{% extends "strona-wizytowka-base.html" %}
{% block head %}
    <title>Contact</title>
{% endblock %}

{% block content %}
    <h2>Kontakt</h2>
    <div id="text-container">
    <ul>
        <li><span class="bold-text">email</span>: rowan@gmail.com</li>
        <li><span class="bold-text">telefon</span>: 500 600 700</li>
    </ul>
    <h3>Wyślij wiadomość</h3>
    <form action="/mypage/contact" method="POST" id="usrform">
        <label for="usrname">Imię:</label>
        <input type="text" id="usrname" name="usrname" required>
        <br>
        <label for="comment">Komentarz:</label>
        <br>
        <textarea spellcheck="false" rows="4" cols="50" id="comment" name="comment" form="usrform" required>Tutaj wpisz komentarz...</textarea>
        <br>
        <button type="submit" id="submit-btn">Prześlij</button>
    </form>
    </div>
    <a href="{{ url_for('visit_me') }}" class="btn">Przenieś mnie do 'O mnie'</a>
{% endblock %}
