<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Witaj na mojej stronie domowej</h1>
    <img id="profile-image" src="https://i2-prod.chroniclelive.co.uk/incoming/article17939823.ece/ALTERNATES/s810/0_Rowan-Atkinson-Comedian-actor.jpg" alt="Rowan Atkinson" title="Enjoy!">
    <div id="content">{% block content %}{% endblock %}</div>

</body>
</html>