{% extends "strona-wizytowka-base.html" %}
{% block head %}
    <title>Me</title>
{% endblock %}

{% block content %}
    <h2>O mnie</h2>
    <div id="text-container">
    <p><span class="bold-text">Imię:</span> Rowan</p>
    <p><span class="bold-text">Nazwisko:</span> Atkinson</p>
    <p><span class="bold-text">Urodziłem się:</span> 6 stycznia 1955 roku w Consett, w hrabstwie Durham, w Anglii</p>
    <p><span class="bold-text">Edukacja:</span> Studiowałem na Uniwersytecie w Newcastle, gdzie skupiłem się na inżynierii elektrycznej. Później zdobyłem stopień magistra inżynierii elektrycznej na The Queen's College w Oksfordzie.</p>
    <p><span class="bold-text">Jestem znanym komikiem:</span> Wiem, że jestem szeroko znany dzięki mojej ikonicznej postaci, Mr. Beanowi. Mr. Bean to postać, która jest ze mną związana na stałe i jestem dumny z jej kreacji. Jest to postać sympatyczna, choć często niezręczna, która rzadko mówi i wpada w zabawne sytuacje.</p>
    <p><span class="bold-text">Wystąpiłem w znanych filmach:</span> Poza tym, grałem w różnych filmach, w tym "Cztery wesela i pogrzeb" oraz "Love Actually."</p>
    <p><span class="bold-text">Teatr:</span> Miałem przyjemność wystąpić na scenie teatralnej, a jedna z moich wyjątkowych ról to Fagin w londyńskiej produkcji "Oliver!".</p>
    <p><span class="bold-text">Nagrody:</span> Cieszę się, że otrzymałem wiele nagród za swoją pracę w komedii i aktorstwie, w tym nagrody BAFTA i Olivier Award.</p>
    <p><span class="bold-text">Życie Prywatne:</span> Mam dwie udane relacje małżeńskie za sobą i jestem szczęśliwym ojcem trójki dzieci. Jestem osobą, która ceni prywatność i unika mediów, kiedy nie jestem na scenie.</p>
    <p><span class="bold-text">Pasje:</span> Poza aktorstwem, jestem pasjonatem motoryzacji i posiadam imponującą kolekcję samochodów.</p>
    </div>
    <a href="{{ url_for('display_contact') }}" class="btn">Przenieś mnie do 'Kontakt'</a>
{% endblock %}